#editor {
    width: 50% !important;
    height: 360px;
    left: 25%;
}
#editor .modal-header h3 {
    float: left;
    font-size: 24px;
    color: #000;
    font-family: Helvetica, Arial, sans-serif;
    text-shadow: none;
    text-transform: none;
    font-weight: bold;
    text-decoration: none;
}
#editor .modal-header button {
    float: right;
}
#editor_input {
    width: 98%;
    height: 180px;
}
#editor_form {
    background: #fff;
}
#editor_form textarea {
    margin: 10px 0;
    padding: 2px;
    width: 100%;
}
.cms_if_block {
    background: repeating-linear-gradient(45deg, rgba(230, 230, 230, 0.6) 0px, rgba(230,180,180, 0.6) 25px, transparent 25px, transparent 50px, transparent 50px);
}
.cms_if_block h4 {
    background: rgb(230, 180, 180);
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
}
.cms_if_block > .cms_if_block {
    padding-left: 20px;
}
#pages_editor_form textarea,
#pages_editor_form .jHtmlArea {
    height: 600px;
    width: 700px;
}
#pages_editor_form input {
    width: 80%;
}
#pages_editor_form .cms_page_url,
#pages_editor_form .cms_page_meta_description,
#pages_editor_form .cms_page_meta_keywords,
#pages_editor_form .cms_page_title {
    width: 700px;
    clear: both;
}
#pages_editor_form .form-group input {
    float: right;
}
#pages_editor_form .form-group {
    margin-bottom: 20px;
}
.cms_editable {
    display: inline-block;
}