#editor {
    width: 50% !important;
    height: 360px;
    left: 25%;
}
#editor .modal-header h3 {
    float: left;
    font-size: 24px;
    color: #000;
    font-family: Helvetica, Arial, sans-serif;
    text-shadow: none;
    text-transform: none;
    font-weight: bold;
    text-decoration: none;
}
#editor .modal-header button {
    float: right;
}
#editor_input {
    width: 98%;
    height: 180px;
}
#editor_form {
    background: #fff;
}
#editor_form textarea {
    margin: 10px 0;
    padding: 2px;
}
.cms_if_block {
    background: repeating-linear-gradient(45deg, rgba(230, 230, 230, 0.6) 0px, rgba(230,180,180, 0.6) 25px, transparent 25px, transparent 50px, transparent 50px);
}
.cms_if_block h4 {
    background: rgb(230, 180, 180);
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
}